---
title: Parity Purchasing Power
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/css/simple.css">
		<style>
		td:not(:last-child) {
			white-space: nowrap;
		}
		</style>
	</head>
	<body>
		<header>
			<h1>{{ title }}</h1>

			<nav>
				<a href="https://github.com/zachleat/parity-purchasing-power-price">Source code</a>
				<a href="https://cloudcannon.com/documentation/articles/using-geolocation-to-detect-your-users-country/">CloudCannon Geolocation</a>
			</nav>
		</header>

		<main>
			{{ content }}
		</main>

		<footer>
			<p>Created with <a href="https://simplecss.org/">simple.css</a> and <a href="https://github.com/zachleat/table-saw"><code>&lt;table-saw&gt;</code></a>.</p>
		</footer>

		<script type="module" src="/js/ppp.js"></script>
		<script type="module" src="/js/table-saw.js"></script>
		<script type="module" src="/js/geolocation-display.js"></script>
	</body>
</html>