---
title: Parity Purchasing Power
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/css/simple.css">
		<style>
		main {
			font-size: 2em;
		}
		</style>
	</head>
	<body>
		<header>
			<h1>{{ title }}</h1>
		</header>
		<main>
			{{ content }}
		</main>
		<footer>
		</footer>

		<script type="module">
		class PPP extends HTMLElement {
			static attrs = {
				from: "from",
				to: "to"
			};

			static pricing = {{ pricing | json }};

			formatPrice(price, locale) {
				let localized = new Intl.NumberFormat('en-US', {
					style: 'currency',
					currency: PPP.pricing[locale].currencyLabel,
				});
				return localized.format(price);
			}

			fetchAutoCountryCode() {
				for(let cls of document.documentElement.classList) {
					// CloudCannon
					if(cls.startsWith("country-")) {
						return cls.slice("country-".length);
					}
				}
			}

			connectedCallback() {
				let from = this.getAttribute(PPP.attrs.from);
				let to = this.getAttribute(PPP.attrs.to);

				if(!to || to === "auto") {
					to = this.fetchAutoCountryCode();
				}

				let fromPricing = PPP.pricing[from];
				let toPricing = PPP.pricing[to];

				if(fromPricing && toPricing) {
					let price = parseFloat(this.textContent.replace(/[^0-9\.]*/g, ""));
					let fromRatio = parseFloat(fromPricing.ratio);
					let toRatio = parseFloat(toPricing.ratio);
					let newPrice = (price * (toRatio/fromRatio)).toFixed(2);

					this.setAttribute("title", `from ${this.formatPrice(price, from)} ${fromPricing.currencyLabel} ${fromPricing.flag}`);
					this.textContent = `${this.formatPrice(newPrice, to)} ${toPricing.currencyLabel} ${toPricing.flag}`;
				}
			}
		}

		if("customElements" in window) {
			window.customElements.define("parity-purchasing-price", PPP);
		}
		</script>
	</body>
</html>